*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* color: white; */
}

/* #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -10;
} */
/* .box{
  background-image: linear-gradient(180deg, #212529, gray);
 
} */
.room-img{
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 6px;
}
.recent-img{
  object-fit: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 5px;
}