{% load static %}

<style>

.profilepic img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
   
border: 2px solid black;
}



.comnprofile h5 {
    padding: 10px
}

.comnprofile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.socialmedias{
   position: fixed;
   bottom: 0;
  width: 100%;
  background-color: white;
}
.socialmedias a i{
   margin: 35px;
}
.slidenav:hover{
   width: 100%;
   background-color: antiquewhite;
}

.aligntextnav{
   width: 100%;
   height: calc(950px - 400px);
}
</style>




<nav class="navbar bg-info text-dark border-bottom border-body p-2 fixed-top">
    <div class=" container-fluid ">
  <a class="navbar-brand " href="/"><img src="{% static 'images/roomlogo.png' %}" alt="logo" width="140"></a>
  <div style="display: none;" id="navprofile">
    <div class="d-flex flex-row " >
    {% if request.user.is_authenticated %}
    {% if request.user.avator.url != " "  %}
    <a href="{% url 'profile' request.user.id%}"  >
    <img
      src="{{request.user.avator.url}}"
      alt="" style="object-fit: cover;
      width: 40px;
      height: 40px;
      border-radius: 50%;
     
      border: 2px solid rgb(255, 255, 255) ;"></a>
      {% endif %}
      &nbsp;
    <h5 class="my-2 align-self-center text-dark" >Hello, {{request.user.name|truncatechars:5}}</h5>
  
    {% else %}
    <img
      src="{% static 'images/avator.jpg' %}"
      alt="profile" style="object-fit: cover;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid white ;">&nbsp;
    <h5 class="p-2">Guest</h5>
    {% endif %}
  </div>
</div>
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation" style="border-color: white;">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header" style="background-color: lemonchiffon;">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">        <img src="{% static 'images/roomlogo.png' %}" alt="logo" width="130">
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
     
    </div>
    <div class="offcanvas-body" style="background-color: lavenderblush;">
      <div class="navbar-nav flex-grow-1 justify-content-end pe-3">
        <div class='comnprofile'>
    {% if request.user.is_authenticated %}

                    <div class='profilepic'>
                      {% if request.user.avator.url != '' %}
                      <a href="/update-user"><img  src="{{request.user.avator.url}}" alt="" ></a>
                    {% endif %}
                    </div>
                    <h5>{{request.user.name}}</h5>
                    <a href="/profile/{{request.user.id}}"><small style="margin-top: -20px;">@{{request.user.username}}</small></a>
    {% else %}
    <div class='profilepic'>
      <img  src="{% static 'images/avator.jpg' %}" alt="">
    </div>
    <h5>{{request.user}}</h5>
    {% endif %}
        </div><hr>
       
        <div className='slidenav'>
     
      <div class="nav flex-column">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="https://ajil-profolio.netlify.app/#contact" target="_blank">Contact</a>
        <a class="nav-link" href="https://ajil-profolio.netlify.app/#resume" target="_blank">About Us</a>
        <a class="nav-link" href="https://ajil-profolio.netlify.app/" target="_blank">Issue</a>
        <a class="nav-link" href="https://ajil-profolio.netlify.app/#contact" target="_blank">Help</a>
      </div>
        </div>
 {% if request.user.is_authenticated %}

        <a class="btn btn-danger" href="{% url 'logoutpage'%}">Logout</a>
        {% else %}
        <a class="btn btn-success" href="{% url 'loginpage'%}">Login</a>
        {% endif %}
      
      <div class="socialmedias">
        <hr>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>

     
  </div>
    </div>
</nav>
