{% extends 'main.html' %}

{% block content %}

<div style="height: 100vh;position: relative;">
    
    <div class="card" style="position: absolute;top: 40%;left: 50%;transform: translate(-50%,-50%);width:calc(20% + 200px);">
    <div class="card-header">
      <a href="{{request.META.HTTP_REFERER}}" class="link-primary">
        <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
      </svg></a>
    <h5 style="display: inline;" class="ms-3">Delete</h5>
    </div>
    
    <div class="card-body p-4 text-center">
        <form method="POST" action="">
            {% csrf_token %}
        <p>Are you sure you want to delete </p>
            <h5>{{obj}}</h5>
           
              <div class="d-flex justify-content-between mt-4">
                <a href="{{request.META.HTTP_REFERER}}" class="btn btn-success  px-4">Go back</a>
              <button type="submit" class="btn btn-danger  px-4">Delete</button>
            </div>  
        </form>
    </div>    
      
    </div>
    

</div>

{% endblock content %}