{% extends 'main.html' %}
{% load static %}
{% block content %}

<style>
  .left:hover,.right:hover{
    filter: drop-shadow(0 0 5px #0dcaf0);
  }
  .left,.right{
    position: sticky;
    top: 20px;
  }
</style>

<div class="container-fluid " style="min-height: 100vh;">
    <div class="row" id="cardRow">
      <div class="col ">
        <div class="left">
            {% include 'baseapp/topicComponent.html' %}
           
        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="center">
            {% include 'baseapp/roomComponent.html' %}
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="right">
            {% include 'baseapp/recentComponent.html' %}
            
        </div>
      </div>
    </div>
</div>  

{% endblock content %}