{% extends 'main.html' %}

{% block content %}

<div class="container-fluid ">
    <div class="row">
      <div class="col">
        <div class="left">
            {% include 'baseapp/topicComponent.html' %}
           
        </div>
      </div>
      <div class="col-lg-6">
        <div class="center">
            {% include 'baseapp/roomComponent.html' %}
        </div>
      </div>
      <div class="col">
        <div class="right">
            {% include 'baseapp/recentComponent.html' %}
            
        </div>
      </div>
    </div>
</div>  

{% endblock content %}