{% extends 'main.html' %}
{% load static %}
{% block content %}

<div style="height: auto; display: flex; justify-content: center; align-items: center;">
    <div class="card m-2 " style="width:calc(30% + 300px); ">
        
            <div class="card-header  bg-info-subtle">
                <a href="{% url 'home' %}" class="link-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                    </svg>
                </a>
                <h4 class="card-title text-dark ps-3" style="display: inline;" >Recent activity</h4>
            </div>
            <div class="card-body px-3">
                {% for msg in recent_msg %}
                <div class="toast-header d-flex justify-content-between">
                    <div>
                        {% if msg.user.avator.url != '' %}
                    <img src="{{msg.user.avator.url}}" class="recent-img" alt="..." >
                    {%else%}
                    <img src="{% static 'images/avator.jpg' %}" class="recent-img" alt="..." >
                        {% endif %}
                    <strong class="me-auto">@{{msg.user}}</strong>
                </div>
                <div>
                    <small class="text-body-secondary">{{msg.created|timesince}}</small>
                </div>
                </div>
                <p style="font-size: medium; margin-bottom: -3px;" class="mt-2">{{msg.room}}</p>
                <small>reply</small>
                <p style="font-size: smaller;" class="text-end text-bg-secondary px-4 py-2 mx-2 rounded-start-pill rounded-end-pill fw-lighter font-monospace" ><i>{{msg.body|truncatechars:70}}</i></p>
            <hr>
                    {% endfor %}
                  
            </div>  
              
              
        </div>
            
    
       
  
  </div>

{% endblock %}