<div>
    
    <div class="card my-4 mx-2" id="rcard" >
        
        <div class="card-header text-center bg-info-subtle">
            <h4 class="card-title text-dark ">Recent activity</h4>
        </div>
        <div class="card-body px-3">
            {% for msg in recent_msg %}
            <div class="toast-header d-flex justify-content-between">
                <div>
                <img src="{{msg.user.avator.url}}" class="recent-img" alt="..." >
                <strong class="me-auto">@{{msg.user}}</strong>
            </div>
            <div>
                <small class="text-body-secondary">{{msg.created|timesince}}</small>
            </div>
            </div>
            <p style="font-size: medium; margin-bottom: -3px;" class="mt-2">{{msg.room}}</p>
            <small>reply</small>
            <p style="font-size: smaller;" class="text-end text-bg-secondary px-4 py-2 mx-2 rounded-start-pill rounded-end-pill fw-lighter font-monospace" ><i>{{msg.body|truncatechars:70}}</i></p>
        <hr>
                {% endfor %}
              
        </div>  
          
        <a href="{% url 'recent' %}" class="card-footer text-dark text-center showhover text-decoration-none" >
            more
          </a>
    </div>
        
</div>
