{% extends 'main.html' %}
{% block content %}



<div class="container-lg">
    <div class="row">
      <div class="col-lg-8" >
        <div class="left">
            <div class="card my-4" style="height: auto; ">
                <div class="card-header d-flex flex-row justify-content-between">
                  <div>
                <a href="{% url 'home' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg></a>&nbsp;
                <h6 style="display: inline;" class="ms-3">STUDY ROOM</h6>
              </div>
              {% if request.user == room.host %}
              <div>
                <a href="{% url 'update-room' room.id %}" class="px-2 text-danger"><span title="Edit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                </svg></span></a>
                <a href="{% url 'delete-room' room.id %}" class="px-2 text-danger"><span title="Delete">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                  </svg>
                </span>
                </a>
              </div>
              {% endif %}
            </div>
                <div class="card-body d-flex justify-content-between">
                  <div>
                  <small>Title</small>
                  <h3 class="card-title">{{room.name}}</h3>
                  <p style="margin-top: -5px;font-size: x-small;">HOSTED BY </p>
                  <div style="margin-top: -20px; margin-bottom: 15px;">
                    <img src="{{room.host.avator.url}}" alt="" style="border: 1px solid black;width: 20px;height: 20px;border-radius: 50%;">
                  <a style="font-size: small; text-decoration: none;" href="{% url 'profile' room.host.id %}">@{{room.host}}</a>
                  </div>
                 
                </div>
                <div>
                  <p style="font-size: small;">{{room.created|timesince}} ago</p>
                </div>
                </div>
                <div class="mx-3">
                <small >Description</small>
                {% if room.description %}
                <h6 class="card-text mt-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{room.description}}</h6>
                {% else %}
               
                <h6 class="card-text "><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  ------  empty  ------

                </h6>
                {% endif %}
              </div>
                <small class="mt-3 mx-3 text-light px-3 mb-1 rounded-pill" style="background-color: #585757; width: fit-content;">{{room.topic.name}}</small>

                <div class="card m-1  text-bg-dark" style="height: 60vh;position: relative; ">
                  <div class="card-header">
                    <h5>Message Room</h5>
                  </div>
                    <div class="card-body" style="overflow: scroll;font-size: smaller;">
                    {% for message in room_messages %}
                    <div class="border-start border-danger mx-2 px-3 " >
                      
                    
                    <div class="common d-flex justify-content-between">
                      <div class="left">
                        <small>
                          {% if messageg.user.avator.url != '' %}
                            <img class="recent-img" src="{{message.user.avator.url}}" alt="" style="border-color: whitesmoke;">
                          {% else %}
                          <img class="recent-img" src="{{message.user.avator.url}}" alt="" style="border-color: whitesmoke;">
                          {% endif %}
                            @{{message.user}} &nbsp;&nbsp;&nbsp;
                          {% if request.user == message.user %}
                        <a href="{% url 'delete-message' message.id %}" style="color: whitesmoke;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg></a>
                        {% endif %}
                        </small>
                      </div>
                      <div class="right">
                        <small>{{message.created|timesince}} ago</small>
                      </div>
                    </div>
                    <small class="text-wrap px-5 py-3 mx-4 mt-4  fw-lighter font-monospace" style="display:inline-block; width: 95%; background-color: rgb(88, 87, 87); border-radius:0px 100px 100px 100px ; " >
                      {{message.body}}
                    </small>
                  </div>
                  <br>
                    {% endfor %}
                </div>
                    {% if request.user.is_authenticated %}
                    <form action="" method="POST" style="position: absolute;bottom: 0;right: 0;left: 0;">
                        {% csrf_token %}
                        <input class="form-control" type="text" name="body" placeholder="Don't Hesitate!   Ask Your Doubt Here..." style="position: relative;"/>
                        <button class="btn btn-success rounded-start-pill px-3" type="submit" value="send" style="position: absolute;top: 0px;right: 0px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                          <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                        </svg></button>
                    </form>
                    {% else %}
                    <a href="{% url 'loginpage' %}">
                    <form action=""  style="position: absolute;bottom: 0;right: 0;left: 0;">
                      {% csrf_token %}
                      <input class="form-control" type="text" placeholder="Don't Hesitate!   Ask Your Doubt Here..." style="position: relative;"/>
                      <button class="btn btn-success rounded-start-pill px-3" type="submit" value="send" style="position: absolute;top: 0px;right: 0px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                      </svg></button>
                  </form>
               </a>
                    {% endif %}
                </div>

              </div>
            

    
        
           
        </div>
      </div>
      <div class="col">
        <div class="center">
          <div class="card my-4" ">
          <div class="card-header px-4 d-flex justify-content-between">
            <h5 class="me-2">Participation </h5>
            <i>{{room.participants.all.count}} Joined </i>
          </div>
          <div class="card-body" style="max-height: 89vh; overflow: scroll;">
        {% for user in participants %}
        
        <div class="d-flex my-3">
          <!-- <div class="align-self-center"> -->
        <img class="room-img mx-3" src="{{user.avator.url}}" alt="">
      <!-- </div> -->                             
      <div class="d-flex flex-column">
        <h6>{{user.name|title}}</h6>
        <a href="{% url 'profile' user.id %}" style="margin-top: -15px;text-decoration: none;"><small>@{{user.username}}</small ></a>
      </div>
      </div>
    
        {% endfor %}
      </div>
      </div>
        </div>
      </div>
    </div>
</div>


{% endblock content %} 