<style>
  .showhover:hover{
    background-color:#0dcaf0;
  }
</style>



  <div class="card my-4 mx-2">
    <div class="card-header text-center bg-info-subtle">
        <h4 class="card-title text-dark">Topics</h4>
    </div>
    <div class="card-body">
        <div>

        <a href="{% url 'home'%}" class="text-dark text-decoration-none d-flex justify-content-between px-3 link-primary"><h6 class="card-title  ">All</h6>
        <p>{{room.count}}</p>
      </a>
    </div>
      <hr>
      
      {% for lang in topic %}
      <div >
        <a href="{% url 'home'%}?q={{lang.name}}" class="text-dark text-decoration-none d-flex justify-content-between px-3 link-primary"><h6 class="card-title ">{{lang|title}}</h6>
        <p>{{lang.room_set.all.count}}</p></a>
    </div>
    {% endfor %}

    </div>
    <a href="{% url 'topic' %}" class="card-footer text-dark text-center showhover" >
      show all ..
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </a>
  </div>